@import "https://fonts.fontstorage.com/import/beermoney.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.header {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    transition: opacity 0.5s ease;
}

.header.transparent:hover {
    opacity: 1;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.scroll-to-top-button:focus {
    outline: none;
}

.scroll-to-top-button::before {
    content: "";
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-top: 10px solid #a05f1b;
    border-right: 10px solid #a05f1b;
    border-radius: 100px;
}

.scroll-to-top-button:active {
    border: none;
}

.scroll-to-top-button:hover {
    color: #000;
    background-color: transparent;
}

.logocl {
    width: 50px;
    height: 50px;
    display: block;
}

.menudivPC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.clickmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.clickmenu>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightMenuBlock>svg {
    padding: 0 5px;
}

.rightMenuBlock svg:last-child {
    padding-right: 20px;
}

.menu {
    font-size: 18px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu .activeButton {
    background: #c1bfbf;
    border-radius: 15px;
    border: 6px #fcea93 solid;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 160px;
    border-top-right-radius: 50px;
}

.menu .activeButton a {
    color: #fff;
}

.menu li a:hover {
    color: #ffed95;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 0 30px;
    display: block;
    position: relative;
    font-size: 19px;
    font-weight: 600;
}

.menu li.active-left a::after,
.menu li.active-right a::after,
.menu li.activeButton a::after {
    transform: scaleX(1);
}

.slide-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.slide-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 20%));
}

.slide-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    padding: 0 80px 60px 0;
    text-align: right;
    font-family: 'Beer money';
    font-size: 24px;
    color: white;
    z-index: 2;
}

@media (max-width: 890px) {
    .slide-text {
        width: 60%;
        padding: 0 15px 40px 0;
        font-size: 22px;
        text-align: center;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .menu li a {
        padding: 0 10px;
    }
}

.headerS {
    background-color: rgba(255, 255, 255, 1);
    height: 20px;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

.menudivMb {
    display: none;
}

input {
    display: none;
}

.childPath {
    position: absolute;
    bottom: 25%;
    right: 25%;
}

.menuNavPC {
    /* border-radius: 15px; */
    /* background: #ffed95; */
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menuNavPC.open {
    transform: translateX(-200px);
}

@media screen and (max-width: 956px) {
    .menudivPC {
        display: none;
    }

    .headerS {
        padding: 0;
        background-color: rgb(0 0 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        flex-direction: row;
    }

    .headerLogo {
        justify-content: right;
        margin-left: 10px;
    }

    .logocl {
        margin: 0;
        height: 55px;
        width: 55px;
        transform: translateX(50%);
        border-radius: 10px;
    }

    .menudivMb {
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        background: rgb(64 66 75 / 48%);
        height: 100%;
        width: 100%;
    }

    .menuNav {
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.65);
        width: 0;
        padding: 50px 0;
        overflow-x: hidden;
        margin: 0;
        transition: width 1s ease;
        border-bottom-left-radius: 20px;
    }

    .menuNav li {
        list-style-type: none;
        padding: 10px 20px;
        margin: 3px 0;
        text-align: center;
    }

    .menuNav li a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        border-radius: 99px;
        transition: 150ms;
        color: #fff;
    }

    .menuNav .activeButton a {
        background: #a05f1b;
    }

    .menuClick {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 60px;
        margin-right: 10px;
    }

    .menuClick label {
        width: 45px;
        height: 45px;
        position: absolute;
    }

    .x-icon {
        display: none;
    }

    input:checked~.menuClick .line-icon {
        display: none;
    }

    input:checked~.menuClick .x-icon {
        display: block;
    }

    input:checked~.menuNav {
        display: flex;
        padding: 50px 0px;
    }

    .scroll-to-top-button {
        cursor: pointer;
    }
}

#nav-icon {
    width: 50px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    margin-bottom: -3px;
    margin-right: 20px;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #adadad;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon:hover span {
    background: #ffb76d;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

.menuNav.open {
    width: 70%;
}

.menuNavPC.hide {
    transform: translateX(-200px);
    opacity: 0;
}

.menuNavPC.show {
    transform: translateX(0);
    opacity: 1;
    height: 46px;
    position: relative;
    z-index: 2;
    margin-left: 50px;
}

@media (min-width: 1530px) {
    .menuNavPC.show {
        /* Any specific styles for wider screens */
    }
}

.header.transparent {
    opacity: 0.8;
}

.header .logocl-container {
    display: flex;
    align-items: center;
    opacity: 1 !important;
    margin-left: 20px;
}

.logocl {
    opacity: 1 !important;
}

.wishlistAndCart>span {
    background-color: #e94560;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    height: 15px;
    position: absolute;
    right: -15%;
    text-align: center;
    top: -5px;
    width: 15px;
}

.entryAndExitComponent-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.entryAndExitComponent-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.entryAndExitComponent-exit {
    opacity: 1;
    transform: translateY(0);
}

.entryAndExitComponent-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}