@import "https://fonts.fontstorage.com/import/beermoney.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.header {
    display: block;
    background: #333;
    color: #fff;
}

.logocl {
    /* margin-left: 20px; */
}

.menudiv {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
    flex-grow: 1;
}

.clickmenu {
    /* width: 150px;
    height: 100px;
    align-items: flex-start;//
    display: table-cell;
    text-align: center; */

    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100px;
}

.clickmenu > div {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.rightMenuBlock > svg {
    padding: 0px 5px;
}

.rightMenuBlock svg:last-child {
  padding-right: 20px; /* Больше отступ справа для последнего элемента */
}

.menu {
    font-size: 18px;
    font-family: Arial, sans-serif;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    justify-content: flex-end; /* Выравнивание элементов по правому краю */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.menu a {
    text-decoration: none;
    color: black;
  }

.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 0px 20px;
    display: block;
    position: relative;
}

.menu li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: #a05f1b;
    transform-origin: bottom left;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.menu a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.menu li.activeButton a::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.slide-content {
    position: relative;
    height: 550px; /* Высота блока slide-content */
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Обрезаем градиентный фон, чтобы он не выходил за пределы элемента */
  }
  
  .slide-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  
  .slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); /* Градиент для затемнения */
  }
  
  .slide-text {
    position: absolute;
    bottom: 0;
    right: 0; /* Выравниваем блок справа */
    width: 600px; /* Ширина блока slide-text */
    padding: 0 80px 60px 0;
    text-align: right;
    font-family: 'Beer money';
    font-size: 24px; 
    color: white; /* Установка цвета текста */
    z-index: 2; /* Перемещаем текст над затемнением */
  }
  