.my-container {
    
  }
  
  .my-image-container {
    position: relative;
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Скрываем overflow */
    overflow: hidden;
  }
  
  .my-image-container .deliveryimg {
    width: 100%;
  
    /* Обрезаем изображение */
    object-fit: cover;
    filter: brightness(50%);
  }

  

  .t-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
  }

  .t-cover__wrapper {
    height: 700px;
    display: table-cell;
    width: 1200px;
}

.t-valign_middle {
    vertical-align: middle;
}

.t828__wrapper {
    padding: 50px 0;
}

.t828__col-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.t828__col {
    margin-top: 0;
    margin-bottom: 0;
}

.t-col_9 {
    max-width: 860px;
}

.t-col_4 {
    max-width: 360px;
}

.t-descr_md {
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
}

@media (max-width: 1250px) {
    .t-col_4 {
        padding-right: 30px;
    }

    .t-col_9 {
        padding-left: 30px;
    }
}

.t-col_delivery {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.t-col_flex {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

.t828__itemwrapper, .t828__textwrapper {
    text-align: left;
    width: 580px;
}

.t828__title {
    margin-bottom: 20px;
    color: #ffffff;
}

.t-title_xl {
    font-size: 64px;
    line-height: 1.17;
    padding-bottom: 15px;
}

.t-descr_lg {
    line-height: 1.55;
    font-size: 26px; 
    font-weight: 400; 
    opacity: 0.80;
}

.t828__img {
    filter: brightness(100%);
    width: 100%;
    max-width: 100%;
    height: auto;
}

.t-img_delivery {
    width: 100px;
    height: auto;
    max-width: 100%;
}

.t828__item+.t828__item {
    padding-top: 60px;
}

.t828__item-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
}

.list__item {
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.list__item {
    margin: 0 50px;
}

@media (min-width: 1200px) {
    .list__item:nth-child(-n+3) {
        padding-bottom: 0;
    }
    
    .list__item:nth-last-child(-n+3) {
        padding-top: 30px;
    }
}

@media (max-width: 1199px) {
    .list__item {
        margin: 0 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1090px) {
    .t828__col-wrapper {
        flex-direction: column;
    }

    .t-col_4 {
        max-width: inherit;
        padding-right: inherit;
    }

    .t828__col {
        width: inherit;
        margin: auto;
    }

    .t828__itemwrapper {
        display: flex;
        flex-direction: row-reverse;
        width: inherit;
        padding-top: 50px;
    }

    .t-title_xl {
        font-size: 50px;
        text-align: center;
    }

    .t-descr_lg {
        font-size: 20px;
        text-align: center;
    }

    .t-img_delivery {
        width: 50px;
    }

    .t828__item.t828__item {
        padding-top: inherit;
    }

    .t828__item-text {
        padding-left: inherit;
    }

    .t-descr_md {
        width: 200px;
    }

    .t828__item {
        padding: 0 15px;
    }
}

.t-title-delivery {
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.t828__descr {
    max-width: 560px;
    color: #ffffff;
}

.t-descr_de {
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.t828__item.t828__item_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.t828__imgwrapper {
    width: 65px;
}

.t828__itemwrapper, .t828__textwrapper, .t828__buttonwrapper {
    text-align: left;
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55;
    max-width: 300px;
}

.list_title_item {
    font-size: 70px;
    padding-top: 8px;
    padding-bottom: 6px;
    text-align: center;
    line-height: 1.23;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #000000;
}

.list_title_item hr {
    margin-top: 14px;
    margin-bottom: 14px;
    border: 0;
    border-top: 1px solid #000000;
    opacity: .2;
}

.list_text_item {
    padding-top: 4px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #000000;
}

.stages_work {
    max-width: 300px;
    color: #000000;
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    line-height: 1.55;
    font-size: 46px;
    text-align: center;
}

.stages_rec {
    padding-top: 75px;
    padding-bottom: 135px;
}

@media (max-width: 952px) {
    .t828__itemwrapper {
        flex-direction: column;
    }
}

@media (max-width: 790px) {
    .t-title_xl {
        font-size: 30px;
    }

    .t-descr_lg {
        font-size: 17px;
    }

    .t-descr_md {
        font-size: 17px;
    }

    .t828__itemwrapper {
        padding-top: 10px;
    }

    .t828__textwrapper {
        padding-bottom: 30px;
        width: auto;
    }

    .t828__col-wrapper {
        padding: 0 10px;
    }

    .t828__item {
        padding: 15px 30px;
    }
}

@media (max-width: 680px) {
    .t828__col-wrapper {
        flex-direction: row;
    }

    .t828__item {
        padding-right: 0px;
    }
}

@media (max-width: 500px) {
    .t-descr_md {
        width: 100px;
        font-size: 12px;
        padding-left: 10px;
    }

    .t-descr_lg {
        font-size: 14px;
    }

    .t-img_delivery {
        width: 30px;
    }

    .t828__imgwrapper {
        width: 30px;
    }
}

@media (max-width: 400px) {
    .t-title_xl {
        font-size: 20px;
    }

    .t-descr_lg {
        font-size: 10px;
    }

    .t-descr_md {
        font-size: 10px;
    }
}