.footer_component {
  margin-bottom: 300px;
}

.hamadevo {
  position: relative;
  text-transform: uppercase;
  /* font-size: 2em; */
  letter-spacing: 20px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.t-sociallinks__item {
  padding: 0 5px;
}

.t-sociallinks__wrapper {
  list-style-type: none; /* Убираем стандартные точки маркера */
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

.footer_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* .category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-buttons button {
    margin: 0 10px;
    padding: 8px 16px; */
/* background-color: #f2f2f2; */
/* border: none;
    cursor: pointer;
}

.category-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
} */

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap;
  overflow-x: auto; */

  /* Добавляем это свойство */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  /* padding: 20px; */
  /* background-image: url('./pictuгes/90114433 (1).jpg'); */
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(255, 254, 254, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  /* Небольшой эффект при наведении */
}

.product-image {
  max-width: 100%;
  /* Чтобы изображение не выходило за границы карточки */
  height: auto;
  /* Для сохранения пропорций изображения */
  margin-bottom: 10px;
}

.cardBg {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  width: 240px;
  /* Можно задать максимальную ширину */
  padding: 15px;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #565453;
  /* Текстовый цвет */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 20px 0;
  cursor: pointer
}

@media (max-width: 880px) {
  .product-grid .cardBg {
    margin-top: 0;
  }
}



/* Стили для заголовка карты */
.card-title {
  color: #333232;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}

/* Стили для описания карты */
.card-description {
  margin-bottom: 2rem;
  font-size: 12px;
  line-height: 1.5;
}

.custom-btn {
  /* height: 40px; */
  padding: 5px 10px;
  /* border: 2px solid #000; */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  color: #000;
  z-index: 2;
  /* line-height: 40px; */
  margin: 10px 15px;
}

.custom-btn:hover,
.custom-btn.active {
  border: none;
}

.custom-btn:before,
.custom-btn:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}

.custom-btn:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000;
  border-left-color: #000;
}

.custom-btn:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
}

.custom-btn:hover:before,
.custom-btn:hover:after,
.custom-btn.active:before,
.custom-btn.active:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}

/*  */
.t-card__container {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

.t-col {
  text-align: center;
  /* max-width: 360px; */
  width: 33%;
  margin-left: 20px;
  margin-right: 20px;
}

.wrappercenter {
  padding-right: 20px;
  padding-left: 20px;
}

.t-card__title {
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.35;
  font-family: 'TildaSans', Arial, sans-serif;
  color: #000000;
}

.t-card__descr {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  color: #5b5a5a;
  text-align: center;
  font-family: "Istok Web", sans-serif;
  font-style: normal;
}

@media (max-width: 865px) {
  .t-card__descr {
    text-align: justify;
  }

  .t-col:last-child {
    padding-top: 0px;
}

.t-img {
  margin-left: 20px;
  width:20%;
}
}

.t-title {
  padding: 120px 60px 49px;
  /* Задаем отступы сверху и снизу */
  line-height: 1.23;
  font-family: "Comme", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  font-size: 42px;
  text-align: center;
  /* Центрируем текст по горизонтали */
  justify-content: center;
  /* Центрируем по горизонтали */
  align-items: center;
  /* Центрируем по вертикали */
}

/*  */

.d0 {
  padding: 0 20px;
}

.d1 {
  width: 100%;
  display: flex;
  margin: '0 auto';
}

.d11 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 10px;
}

.d11Img {
  width: 460px;
  height: 100%;
  max-height: 570px;
  max-width: 570px;
  object-fit: cover;
  background-size: cover;
  background: url(https://optim.tildacdn.com/tild6633-3365-4936-b534-643834303035/-/resize/1000x1000/-/format/webp/3-5e3046195a45167156.jpg) center center / cover no-repeat;
}

.d22 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.d111 {
  margin-bottom: 10px;
}

.d111Img_1 {
  margin-right: 10px;
  max-height: 275px;
  max-width: 275px;
  min-height: 220px;
  min-width: 220px;
  background-size: cover;
}

.d111Img_2 {
  margin-left: 10px;
  max-height: 275px;
  max-width: 275px;
  min-height: 220px;
  min-width: 220px;
  background-size: cover;
}

.d222 {
  margin-top: 10px;
}

.d222Img_1 {
  margin-right: 10px;
  max-height: 275px;
  max-width: 275px;
  min-height: 220px;
  min-width: 220px;
  background-size: cover;
}

.d222Img_2 {
  margin-left: 10px;
  max-height: 275px;
  max-width: 275px;
  min-height: 220px;
  min-width: 220px;
  background-size: cover;
}

.d111,
.d222 {
  display: flex;
  flex-wrap: wrap;
}

.div111 div,
.div222 div {
  width: calc(50% - 10px);
  /* 10px - учет отступов между картинками */
  height: auto;
  max-height: calc(50vw - 10px);
  /* 50vw - 50% ширины экрана */
  aspect-ratio: 1;
}

@media (max-width: 980px) {
  .d {
    display: flex;
    justify-content: center;
  }

  .d1 {
    margin: 0;
    width: 100%;
  }

  .d11 {
    height: 460px;
    margin: 0 auto;
    padding-right: 0;
    align-items: center;
    padding-bottom: 10px;
  }

  .d22 {
    padding-left: 0;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
    width: auto;
  }

  .d1,
  .d2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {

  .d11 {
    width: 100%;
    /* Пример ширины родительского компонента */
    height: 200px;
    /* Пример высоты родительского компонента */
    overflow: hidden;
  }

  .d11Img {
    width: 380px;
  }

  .d22 {
    flex-direction: column;
    padding-top: 10px;
    margin: 0 auto;
    width: auto; /* Ширина будет автоматически подстраиваться под контент */
  }
  
  .d111,
  .d222 {
    display: flex;
    width: 100%; /* Дочерние элементы будут занимать всю доступную ширину родительского элемента */
  }
  
  .d111Img_1,
  .d111Img_2,
  .d222Img_1,
  .d222Img_2 {
    min-width: 180px;
    min-height: 180px;
  }
  
}

@media (max-width: 500px) {
  .d11Img {
    width: 280px;
  }

  .d111Img_1,
  .d111Img_2,
  .d222Img_1,
  .d222Img_2 {
    min-width: 130px;
    min-height: 130px;
  }
}


/*  */
.t-img {
  width: 100px;
  height: auto;
  max-width: 100%;
  margin-bottom: 25px;
}

/*  */


@media screen and (max-width: 866px) {
  .t-col-c {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .t-col {
    justify-content: center;
    width: 80%;
  } */

@media (max-width: 866) {
  .t-col-c .t-col:last-child {
    padding-top: 40px;
  }
}

  /* .t-img {
    width: 300px;
    height: auto;
    max-width: 100%;
    margin-bottom: 25px;
  } */

  .t-card__title {
    font-size: 40px;
    font-weight: 800;
  }

  .t-col {
    display: flex; /* Использовать flexbox для расположения элементов в строку */
    justify-content: center;
}

.t-col .t-img {
    margin-right: 20px; /* Отступ справа от изображения */
    flex-shrink: 0; /* Запретить изображению сжиматься при необходимости */
    width: 50%;
    height: auto;
    max-width: 100%;
    margin-bottom: 25px;
}

.wrappercenter {
    flex-grow: 1; /* Заполнить доступное пространство внутри t-col */
}
}

.title_menu {
  font-family: "Ubuntu";
  font-weight: 100;
  line-height: 1.35;
  font-size: 32px;
}

@media (max-width: 912px) {
  .title_menu {
    font-size: 28px;
  }
}

@media (max-width: 811px) {
  .title_menu {
    font-size: 24px;
  }
}

@media (max-width: 709px) {
  .title_menu {
    font-size: 22px;
  }
}

@media (max-width: 658px) {
  .title_menu {
    font-size: 18px;
  }
}