@charset "UTF-8";
.container_gallery {
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4784313725);
  height: 530px;
}

.vueGallery {
  display: flex;
  height: 100%;
}

.vueGallery .photo-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  position: relative; /* Положение относительно родительского элемента */
  width: 1100px;
  overflow: hidden;
  margin-right: 10px;
}

.vueGallery .photo-container .activePhoto {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  transition: background-size 0.5s ease;
}

.vueGallery .photo-container .activePhoto:hover {
  background-size: 110%;
}
.vueGallery .photo-container .activePhoto button {
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: #fff;
  opacity: 0.5;
  position: absolute;
  outline: none;
  height: 100%;
}
.vueGallery .photo-container .activePhoto button:hover {
  opacity: 1;
}
.vueGallery .photo-container .activePhoto button.previous {
  padding: 0 1em 0 0.7em;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000", endColorstr="#00000000", GradientType=1);
}
.vueGallery .photo-container .activePhoto button.next {
  padding: 0 0.7em 0 1em;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#80000000", GradientType=1);
}
.vueGallery .thumbnails {
  display: flex;
  flex-direction: column;
}
.vueGallery .thumbnails div {
  width: 100px;
  /* Ширина для неактивных изображений */
  height: 100px;
  /* Высота для неактивных изображений */
  margin-bottom: 5px;
  /* Добавляем отступ между неактивными изображениями */
  border: 2px solid #fff;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.vueGallery .thumbnails div:hover {
  opacity: 0.6;
}
.vueGallery .thumbnails div.active {
  outline-color: #5c4084;
  opacity: 1;
}
.vueGallery .thumbnails div:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 1330) {
  .vueGallery .thumbnails div:not(:last-child) {
    margin-bottom: 0px;
  }
}

