$brand: #5c4084;

.container_gallery {
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 8px #0000007a;
    height: 530px;
}

.container_gallery_rotate {
    height: inherit;
}

.vueGallery {
    display: flex;
    height: 100%;

    .photo-container {
        display: flex;
        justify-content: center;
        /* Центрирование по горизонтали */
        align-items: center;
        /* Центрирование по вертикали */
        position: relative;
        /* Положение относительно родительского элемента */
        width: 1100px;
        overflow: hidden;
        margin-right: 10px;

        .activePhoto {
            position: absolute;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: 100%;
            transition: background-size 0.5s ease, transform 0.5s ease, width 0.5s ease, height 0.5s ease;

            &:hover {
                background-size: 110%;
            }


            button {
                border: none;
                background-color: transparent;
                font-size: 32px;
                color: #fff;
                opacity: 0.5;
                position: absolute;
                outline: none;
                height: 100%;

                &:hover {
                    opacity: 1;
                }

                &.previous {
                    padding: 0 1em 0 0.7em;
                    left: 0;
                    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
                }

                &.next {
                    padding: 0 0.7em 0 1em;
                    right: 0;
                    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
                }
            }
        }
    }

    .photo-container-rotate {
        height: 460px;
    }

    .thumbnails {
        display: flex;
        flex-direction: column;

        div {
            width: 100px;
            /* Ширина для неактивных изображений */
            height: 100px;
            /* Высота для неактивных изображений */
            margin-bottom: 5px;
            /* Добавляем отступ между неактивными изображениями */
            border: 2px solid #fff;
            cursor: pointer;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;

            &:hover {
                opacity: 0.6;
            }

            &.active {
                outline-color: $brand;
                opacity: 1;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            @media (min-width: 1330px) {
                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                &:last-child {
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
}


@media (max-width: 1330px) {
    .container_gallery {
        width: 91%;
        height: auto;
    }

    .vueGallery .photo-container {
        width: 100%;
        height: 470px;
        margin: 0 auto 10px;
    }

    .vueGallery {
        flex-direction: column;
    }

    .vueGallery .thumbnails {
        flex-direction: row;
    }

    .vueGallery .thumbnails div {
        width: 30vh;
        height: 95px;
        margin: 10px auto 0;
    }

    .vueGallery .thumbnails div:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .vueGallery .thumbnails div:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (max-width: 1060px) {
    .vueGallery .photo-container {
        height: 400px;
    }

    .vueGallery .thumbnails div {
        width: 90%;
        height: 70px;
        margin: 0;
    }

    .container_gallery {
        // margin: 10px;
        padding: 20px 10px;
    }
}

@media (max-width: 700px) {
    .vueGallery .photo-container {
        height: 300px;
    }

    .vueGallery .thumbnails div {
        height: 50px;
    }
}

@media (max-width: 500px) {
    .vueGallery .photo-container {
        height: 250px;
    }
}

@media (max-width: 450px) {
    .vueGallery .photo-container {
        height: 200px;
    }

    .vueGallery .thumbnails div {
        height: 50px;
    }

    .container_gallery {
        padding: 5px 5px;
    }
}

@media (max-width: 350px) {
    .vueGallery .photo-container {
        height: 180px;
    }
}

// @media (max-width: 800px) {
//     .vueGallery .photo-container {
//         width: 600px;
//         height: 400px;
//     }

//     .vueGallery .thumbnails div {
//         width: 80px;
//         height: 80px;
//         margin: 0 auto;
//     }

//     .container_gallery {
//         margin-top: 30px;
//         padding: 10px;
//         height: auto;
//     }
// }

// @media (max-width: 650px) {
//     .vueGallery .photo-container {
//         width: 550px;
//         height: 300px;
//     }

//     .vueGallery .thumbnails div {
//         width: 65px;
//         height: 65px;
//         margin: 0 auto;
//     }

//     .container_gallery {
//         height: auto;
//         margin-top: 10%;
//     }
// }

// @media (max-width: 600px) {
//     .vueGallery .photo-container {
//         width: 500px;
//         height: 300px;
//     }

//     .vueGallery .thumbnails div {
//         width: 60px;
//         height: 50px;
//     }
// }

// @media (max-width: 550px) {
//     .vueGallery .photo-container {
//         width: 450px;
//         height: 250px;
//     }

//     .vueGallery .thumbnails div {
//         width: 60px;
//         height: 50px;
//     }
// }

// @media (max-width: 500px) {
//     .vueGallery .photo-container {
//         width: 370px;
//         height: 200px;
//     }

//     .vueGallery .thumbnails div {
//         width: 45px;
//         height: 45px;
//     }
// }

// @media (max-width: 405px) {
//     .vueGallery .photo-container {
//         width: 350px;
//         height: 200px;
//     }

//     .vueGallery .thumbnails div {
//         width: 35px;
//         height: 35px;
//     }
// }

// @media (max-width: 340px) {
//     .vueGallery .photo-container {
//         width: 280px;
//         height: 150px;
//     }

//     .vueGallery .thumbnails div {
//         width: 35px;
//         height: 30px;
//     }
// }